:root {
    --primary-color: #023047;
    --secondary-color: #0077b6;
    --tertiary-color: #caf0f8;
    --contrast-color: #ff9f1c;
    --dark-contrast-color: #cd560d;
    --white: #fefae0;
    --black: #001219;
}

.bracket {
    width: 25%;
    min-width: 500px;
    height: 20%;
    min-height: 300px;
    overflow: hidden;
    margin: 0;
    display: flex;
    flex-direction: column; 
    overflow: hidden;
    background-color: var(--white);
    border-radius: 10pt;
    border: 4px solid white;}

.bracket-container-2{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.bracket-container-4{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.bracket-container-8{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.bracket-container-16{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.middle-div-1{
    display: grid;
    grid-template-columns: 1fr;
    width: 50%;
    height: 150px;
    margin: auto 0 auto 0;
    border-bottom: solid 3px black;
    border-top: solid 3px black;
}
.middle-div-2{
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    height: 230px;
    margin: auto 0 auto 0;
    border-bottom: solid 3px black;
    border-top: solid 3px black;
    border-right: solid 3px black;
}
.middle-div-3{
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    height: 280px;
    margin: auto 0 auto 0;
    border-bottom: solid 3px black;
    border-top: solid 3px black;
    border-right: solid 3px black;
}
.div-for-item{
    margin: 15px 0 15px 0;
}
.filler-div{
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #ccc; 
    border-bottom: 1px solid #ccc; 
}
